{% extends "base.html" %} {% block title %} Содержимое Яндекс.Диска {% endblock %} {% block content %}
<div class="container py-3">
	<h1 class="text-center mb-5 text-white" style="font-family: 'Segoe UI', sans-serif; font-weight: bold;">
		Содержимое папки
	</h1>
	<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
		{% for item in items %}
		<div class="col">
			<div class="card text-white h-100 shadow-lg border" style="background-color: black;">
				<img src="{{ item.preview }}" class="card-img-top" style="height: 200px;" />
				<div class="card-body">
					<h5 class="card-title" style="color: gray;">{{ item.name }}</h5>
					{% if item.type == "file" %}
					<a href="{% url 'cat_disk:download' %}?public_key={{ public_key }}&path={{ item.path }}&name={{ item.name }}" class="btn w-100" style="color: rgba(255, 255, 255, 0.534);" download>Скачать</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="text-center mt-5">
		<a href="/" class="btn px-4 py-2" style="color: rgba(255, 255, 255, 0.534);">Назад</a>
	</div>
</div>
{% endblock %}


